---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="About Ishikawa"
  pubDate={new Date("2024-12-27")}
  heroImage="/ishikawa.svg"
>
  <h2>自己紹介</h2>
  <p>
    <b>Ishikawa</b>と申します。<br />
    プログラミングが好きなので、色々作ったりしています。<br />
    どうぞよろしくお願いします。
  </p>
  <h2>資格</h2>
  <ul>
    <li>基本情報技術者試験：2024-05</li>
  </ul>
  <h2>扱える言語</h2>
  <p>
    ※<a href="https://github.com/Gitudon" target="_blank">ここ</a
    >も参照してください。
  </p>
  <ul>
    <li>HTML/CSS</li>
    <li>Python</li>
    <li>C</li>
    <li>C++</li>
    <li>TypeScript</li>
    <li>JavaScript</li>
  </ul>
  <h2>趣味</h2>
  <ul>
    <li>プログラミング・開発</li>
    <li>ゲーム</li>
    <ul>
      <li>マイクラ</li>
      <li>東方</li>
      <li>音ゲー(maimai)</li>
    </ul>
    <li>映画鑑賞</li>
    <li>特撮</li>
    <ul>
      <li>ウルトラマン</li>
      <li>仮面ライダー</li>
      <li>スーパー戦隊</li>
    </ul>
    <li>カラオケ</li>
  </ul>
</Layout>
