.react-menu {
  background-color: #252526;
  box-shadow: rgb(0, 0, 0) 0px 2px 4px;
  cursor: default;
  display: none;
  list-style: none;
  padding: 6.5px 0;
  position: absolute;
  user-select: none;
  white-space: nowrap;
  z-index: 2000;

  padding: 0.5em 0;

  &--dark {
    @extend .react-menu;
    color: rgb(204, 204, 204);
    background-color: rgb(37, 37, 38);
    box-shadow: rgb(0, 0, 0) 0px 2px 4px;
  }
}
